<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>E Market Management System</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="vendors/feather/feather.css">
  <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="js/select.dataTables.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.png" />
</head>
<body>
              <div class="card w-100">
                <div class="card-body">
                  <div class="col-lg-12">
                    <div class="row d-flex align-items-center justify-content-between">
                      <div class="col-md-8">
                        <form class="forms-sample">
                            <div class="form-group"></div>
                                <h4 class="card-description">
                                    <u>Customer Informaton Form</u>
                                </h4>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1 Required">Name</label>
                                <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label class="DateOfBirth">Date of Birth</label>
                                <input type="date" class="form-control" placeholder="dd/mm/yyyy"/>
                            </div>
                            <div class="form-group">
                                <label class="NID Required">NID Number</label>
                                  <input type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email Address">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputMobile">Phone</label>
                                <input type="text" class="form-control" id="exampleInputMobile" placeholder="Phone Number">
                            </div>
                            <div class="form-group">
                                <label for="Address">Address</label>
                                <input type="text" class="form-control" id="Address" />
                            </div>
                            <button type="submit" class="btn btn-primary mr-2">Create Customer</button>
                            <button class="btn btn-light">Close</button>
                        </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

<%- include('partials/footer') %>