<%- include('partials/header') %>

  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add Shop</h4>
        <p class="card-description">
          Add a Shop Rents
        </p>
        <form action="/add-shop-rents" method="POST" enctype="multipart/form-data">
          <div class="mb-3">
              <label class="form-label">ID</label>
              <input type="text" placeholder="Enter ID" name="id" class="form-control" required>
          </div>
          <div class="mb-3">
              <label class="form-label">Owner Name</label>
              <input type="text" placeholder="Enter Owner Name" name="name" class="form-control" required>
          </div>
          <div class="mb-3">
              <label class="form-label">FC_No</label>
              <input type="text" placeholder="Enter FC_No" name="fc_no" class="form-control" required>
          </div>
          <div class="mb-3">
              <label class="form-label">FC_Type</label>
              <input type="text" placeholder="Enter FC_type" name="fc_type" class="form-control" required>
          </div>
          <div class="mb-3">
              <label class="form-label">Amount</label>
              <input type="text" placeholder="Enter Amount" name="mth_pay" class="form-control" required>
          </div>
          
          <button type="submit" class="btn btn-primary">Add Shop</button>
         
      </form>
      </div>
    </div>
  </div>
  <%- include('partials/footer') %>
