<%- include('partials/header') %>

<body>
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add Members (NIN) Form</h4>
        <p class="card-description">
          Add a new NIN Member
        </p>
        <form action="/addMember" method="POST" enctype="multipart/form-data">
          <div class="forms-sample">
            <div class="form-group row">
              <div class="col-md-6">
                <label>First Name:</label>
                <input type="text" name="f_name" class="form-control" placeholder="Enter First Name" required />
              </div>
              <div class="col-md-6">
                <label>Last Name:</label>
                <input type="text" name="l_name" class="form-control" placeholder="Enter Last Name" />
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <label>Email:</label>
                <input type="email" name="email" class="form-control" placeholder="Enter Email" />
              </div>
              <div class="col-md-6">
                <label>Phone No:</label>
                <input type="text" name="phone_no" class="form-control" placeholder="Enter Mobile No" />
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <label>NIN:</label>
                <input type="text" name="nin" class="form-control" placeholder="Enter NIN" required />
              </div>
              <div class="col-md-6">
                <label>Issued Card:</label>
                <input type="text" name="issued_card" class="form-control" placeholder="Enter Card Number" />
              </div>
            </div>
             <!-- Gender & Occupation -->
             <div class="form-group row">
              <div class="col-md-6">
                <label for="gender">Gender:</label>
                <select class="form-control" name="gender" id="gender">
                  <option>Select Gender</option>
                  <option>Male</option>
                  <option>Female</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="occupation">Occupation:</label>
                <select class="form-control" name="occupation" id="occupation">
                  <option>Select Occupation</option>
                  <option>Business</option>
                  <option>Public Service</option>
                  <option>Private Service</option>
                  <option>Self-Employed</option>
                  <option>Others</option>
                  <option>Aspirant</option>
                </select>
              </div>
            </div>

            <!-- Floor Type & Shop Number -->
            <div class="form-group row">
              <div class="col-md-6">
                <label for="floor_type">Floor Type:</label>
                <select class="form-control" name="floor_type" id="floor_type">
                  <option>Select Floor:</option>
                  <option>Ground Floor</option>
                  <option>Level 1</option>
                  <option>Level 2</option>
                  <option>Level 3</option>
                  <option>Level 4</option>
                  <option>Food Court</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="shop_no">Shop No:</label>
                <select class="form-control" name="shop_no" id="shop_no">
                  <option>Select Shop:</option>
                  <option>A1</option>
                  <option>A2</option>
                  <option>A3</option>
                  <option>A4</option>
                  <option>A5</option>
                  <option>A6</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <label>Photo:</label>
                <input type="file" name="photo" class="form-control" />
              </div>
              <div class="col-md-6">
                <label>QR Code:</label>
                <input type="file" name="qr" class="form-control" />
              </div>
            </div>
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <button type="reset" class="btn btn-light">Reset</button>
          </div>
        </form>        
      </div>
    </div>
  </div>
<%- include('partials/footer') %>
