<%- include('partials/header') %>

<body>
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add Members (NIN) Form</h4>
        <p class="card-description">
          Add a new NIN Member
        </p>
        <form action="/addMember" method="POST" enctype="multipart/form-data">
          <div class="forms-sample">
            <div class="form-group row">
              <div class="col-md-6">
                  <label>First Name:</label>
                  <input type="text" name="f_name" class="form-control" placeholder="Enter First Name" required />
              </div>
              <div class="col-md-6">
                  <label>Last Name:</label>
                  <input type="text" name="l_name" class="form-control" placeholder="Enter Last Name" />
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <label>Email:</label>
                <input type="email" name="email" class="form-control" placeholder="Enter Email" />
              </div>
              <div class="col-md-6">
                <label>Phone No:</label>
                <input type="text" name="phone_no" class="form-control" placeholder="Enter Mobile No" />
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <label>NIN:</label>
                <input type="text" name="nin" class="form-control" placeholder="Enter NIN" />
              </div>
              <div class="col-md-6">
                <label>Issued Card:</label>
                <input type="text" name="issued_card" class="form-control" placeholder="Enter Card Number" />
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <label for="exampleSelectGender">Gender:</label>
                <select class="form-control" name="gender" id="gender">
                  <option value="">Select Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="exampleSelectOccupation">Occupation:</label>
                <select class="form-control" name="occupation" id="occupation">
                  <option value="">Select Occupation</option>
                  <option value="Business">Business</option>
                  <option value="Public Service">Public Service</option>
                  <option value="Private Service">Private Service</option>
                  <option value="Self-Employed">Self-Employed</option>
                  <option value="Others">Others</option>
                  <option value="Aspirant">Aspirant</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <label for="exampleSelectFloorType">Floor Type:</label>
                <select class="form-control" name="floor_type" id="floor_type">
                  <option value="">Select Floor</option>
                  <option value="Ground Floor">Ground Floor</option>
                  <option value="Level 1">Level 1</option>
                  <option value="Level 2">Level 2</option>
                  <option value="Level 3">Level 3</option>
                  <option value="Level 4">Level 4</option>
                  <option value="Food Court">Food Court</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="exampleSelectShopNo">Shop No:</label>
                <select class="form-control" name="shop_no" id="shop_no">
                  <option value="">Select Shop</option>
                  <option value="A1">A1</option>
                  <option value="A2">A2</option>
                  <option value="A3">A3</option>
                  <option value="A4">A4</option>
                  <option value="A5">A5</option>
                  <option value="A6">A6</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <label>Photo:</label>
                <input type="file" name="photo" class="form-control file-upload-default" />
              </div>
              <div class="col-md-6">
                <label>QR Code:</label>
                <input type="file" name="qr" class="form-control file-upload-default" />
              </div>
            </div>
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <button type="reset" class="btn btn-light">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
<%- include('partials/footer') %>
