
        <%- include('partials/header') %>

        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add Occupation Type Form</h4>
                    <p class="card-description">Add a new Occupation</p>
                    <form class="forms-sample" action="/addoccupationType" method="POST">
                        <div class="form-group">
                            <label for="occupationName">Occupation Name</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="occupationName" 
                                name="occupation_name" 
                                placeholder="Enter Occupation Name" 
                                required 
                            />
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <a href="/occupationType" class="btn btn-light">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
        
        <%- include('partials/footer') %>
                  
