<%- include('partials/header') %>
              <div class="card w-100">
                <div class="card-body">
                  <h4 class="card-title">Add Suppliers Form</h4>
                  <p class="card-description">
                    Add a new Supplier
                  </p>
                  <form class="forms-sample">
                    <div class="form-group">
                      <label for="exampleInputUsername1">Name</label>
                      <input type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputMobile">Nin</label>
                      <input type="text" class="form-control" id="nin" placeholder="Nin">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputMobile">Phone Number</label>
                      <input type="text" class="form-control" id="phone_no" placeholder="Phone Number">
                    </div>
                    <div class="form-group">
                      <label for="exampleSelectGender">Category</label>
                        <select class="form-control" id="category">
                          <option>TEXTILE</option>
                          <option>FRESH FOOD</option>
                          <option>DRY FISH</option>
                          <option>DRY FOOD</option>
                          <option>FF</option>
                          <option>CRAFTS</option>
                        </select>
                    </div>
                    <div class="form-group"></div>
                      <label for="exampleInputMobile">Fc Number</label>
                      <input type="text" class="form-control" id="fc_no" placeholder="Fc Number">
                    </div>
                    <div class="form-group"></div>
                      <label for="exampleInputMobile">Monthly Pay (000s)</label>
                      <input type="text" class="form-control" id="mth_pay" placeholder="Monthly Pay (000s)">
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a href="/SupplieReportPage" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Cancel</a>
                  </form>
                </div>
              



 <%- include('partials/footer') %>