<%- include('partials/header') %>
              <div class="card w-100">
                <div class="card-body">
                  <h4 class="card-title">Add Members Form</h4>
                  <p class="card-description">
                    Add a new Member
                  </p>
                  <form action="/AddSuppliers" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                      <label class="form-label">Name</label>
                      <input type="text" name="name" class="form-control"placeholder="Phone Number" required>
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Nin</label>
                      <input type="text" name="nin" class="form-control" placeholder="Nin" required>
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Phone Number</label>
                      <input type="text" name="phone_no" class="form-control" placeholder="Phone Number" required>
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Category</label>
                      <select name="category" class="form-control" required>
                          <option value="">Select Category</option>
                          <option value="TEXTILE">TEXTILE</option>
                          <option value="FRESH FOOD">FRESH FOOD</option>
                          <option value="DRY FISH">DRY FISH</option>
                          <option value="DRY FOOD">DRY FOOD</option>
                          <option value="FF">FF</option>
                          <option value="CRAFTS">CRAFTS</option>
                        </select>
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Fc Number</label>
                      <input type="text" name="fc_no" class="form-control" placeholder="Fc Number" required>
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Monthly Pay (000s)</label>
                      <input type="text" name="mth_pay" class="form-control" placeholder="Monthly Pay (000s)" required>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a href="/SupplieReportPage" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Cancel</a>
                  </form>
                </div>
              



 <%- include('partials/footer') %>