<%- include('partials/header') %>
  <div class="row d-flex align-items-center justify-content-between">
    <div class="col-md-8">
      <h4 class="card-title">Customer Table</h4>
      <p class="card-description">
        User Type: <code>Customers</code>
      </p>
    </div>
    <div class="col-md-4 d-flex justify-content-end">
      <a href="/addCustomers" class="btn btn-primary btn-sm" role="button">
        <i class="ti-user"></i>                      
        Add Customers
      </a>
    </div>
  </div>        
  <h1>Upload File</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <div>
        <label for="file">Select File:</label>
        <input type="file" id="file" name="file" required>
      </div>
      <button type="submit">Upload</button>
    </form>

    <!-- Search Box and Table -->
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="tableSearch">Search Members:</label>
          <input type="text" id="tableSearch" class="form-control" placeholder="Search for a member...">
        </div>
      </div>
    </div>

    <!-- Export Options -->
    <div class="d-flex justify-content-between pt-3">
      <button class="btn btn-secondary btn-sm" id="exportCSV">Export to CSV</button>
      <button class="btn btn-secondary btn-sm" id="exportExcel">Export to Excel</button>
      <button class="btn btn-secondary btn-sm" id="exportPDF">Export to PDF</button>
    </div>
            
  <div class="table-responsive pt-3">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>
            #
          </th>
          <th>
            Market
          </th>
          <th>
            Name
          </th>
          <th>
            Email
          </th>
          <th>
            Phone
          </th>
          <th>
            Gender
          </th>
          <th>
            Role
          </th>
          <th>
            Control
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            1
          </td>
          <td>
            Mbarara
          </td>
          <td>
            kintu obwona
          </td>
          <td>
            obwona@example.com
          </td>
          <td>
            0123456789
          </td>
          <td>
            Male
          </td>
          <td>
            Customer
          </td>
          <td>
            <button type="button" class="btn btn-primary btn-sm">            
              View
            </button>
            <button type="button" class="btn btn-warning btn-sm">                                                
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<%- include('partials/footer') %>