<%- include('partials/header') %>

        <div class="col-lg-12">
          <div class="row d-flex align-items-center justify-content-between">
              <h4 class="card-title">Occupation Type List
              </h4>
              <p class="card-description">
                Table: <code>Occupation Types</code>
              </p>
            <div class="col-md-4 d-flex justify-content-end">
              <a href="/addOccupationType" class="btn btn-primary btn-sm" role="button">
                <i class="ti-user"></i>                      
                Add Occupation Type
              </a>
            </div>
          </div>                    
          
        <div class="table-responsive pt-3">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                  #
                </th>
                <th>
                  ID
                </th>
                <th>
                  Name
                </th>
                <th>
                  Members
                </th>
                <th>
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  1
                </td>
                <td>
                  DBX1234
                </td>
                <td>
                  Toyota
                </td>
                <td>
                  N/A
                </td>
                <td>
                  <button type="button" class="btn btn-warning btn-sm">Edit</button>
                  <button type="button" class="btn btn-danger btn-sm">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
        <%- include('partials/footer') %>
